extends ../template

block variables
  - var title = "Lopper"

block content
  //- .debug
    div
      div
        div
        div
        div
        div
        div
        div
        div
        div
        div
        div
        div
        div
  include ../common/preloader
  include ../common/header
  include ../section/intro
  include ../section/features
  include ../section/newsletter
  include ../common/footer