$font-size: 18px;
$primary-font: "M PLUS 1p", sans-serif;
$secondary-font: "Noticia Text", serif;
$primary-color: #FCFCFC;
$secondary-color: #776C82;
$red: #F61067;
$grey: #9B94A3;
$title-color: #30233D;
$bg-color: #5E239D;