section.newsletter
  .container
    .newsletter__inner
      h3.title Subscribe to our newsletter
      .subtitle Cras pulvinar mattis nunc sed blandit.
      form(action="", method="")
        input(type="email", name="" placeholder="Enter email")
        button Subscribe
          svg.subscribe__sprite
            use(xlink:href=`assets/images/sprites/sprite.svg#arrow-next`)